@import "./imports.scss";

.multi-select-autocomplete .list-filter input {
	border: none;
	height: 100%;
	outline: none;
	width: 100%;
}

.multi-select-autocomplete .pure-checkbox input[type="checkbox"]:checked+label:before,
.multi-select-autocomplete .selected-list .c-token {
	background: $primary-color !important;
	border: 2px solid $primary-color !important;
}

.multi-select-autocomplete .pure-checkbox input[type="checkbox"]+label:before {
	border: 2px solid gray !important;
}
