@import "../../../styles/imports";

:host {
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.loading-bar {
	opacity: 0;

	transition: opacity .4s ease-in-out;

	&.visible {
		opacity: 1;
	}
}
