@import "../variables/variables";

.u-right-cell {
	justify-content: flex-end;

	&.mat-cell {
		margin-right: 14px;
	}
}

.u-right-header-cell {
	justify-content: flex-end;
	white-space: pre;
}

.u-custom-multi-select {
	.list-filter {
		height: 40px !important;
	}
}
