<mat-card class="mt-3">
    <mat-card-content>
        <ccd-offer-base-detail [offerId]="offerId" (offerSent)="handleOfferSent()"></ccd-offer-base-detail>
    </mat-card-content>
</mat-card>

<mat-card class="mt-4" [hidden]="!offerId">
    <mat-card-content>
        <div class="row">
            <div class="col-lg-12 col-12">
                <ccd-offer-items [offerId]="offerId"></ccd-offer-items>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ccd-documents [hidden]="!offerId" class="mt-4" [type]="documentType" [relatedEntityId]="offerId"></ccd-documents>